<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网络流量监控平台</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.4.1/css/bootstrap.css">
    <style>
        body {
            margin: 0;
        }

        .sub-header {
            height: 900px;

        }

        .container {
            width: 1120px;
            margin: 0 auto;
            border-left: red;
            border-right: red;
            box-sizing: border-box;
        }
    </style>

</head>
<body>
<div class="sub-header">
    <div class="container">
        <h1>网络流量监控平台</h1>
        <h2>登录页面</h2>
        <div>
            <span style="color: blue">用户名:</span>
            <span><input type="text"></span>
        </div>
        <div>
            <span style="color: blue">密码:   </span>
            <span><input type="password"></span>
        </div>
        <div>
            <span><a href="">
                <input type="button" value="登录" class="btn-success">
            </a></span>
            <span>
                <a href="register.html">
                <input type="button" value="注册">
                </a>
            </span>
        </div>
    </div>

</div>
<script type="text/javascript">
    function show(){
        var tag=document.getElementById()
        
    }

</script>


</body>
</html>