<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员页面</title>
    <style>
        body {
            margin: 0;
            text-align: center;
        }

        .container {
            margin: 0 auto;

        }
        a{
            text-decoration: none;
        }
        a:hover{
            color: red;
        }
    </style>
</head>
<body>
<div class="container">
    <div style="font-size:50px">
        请选择功能
    </div>

    <a href="">数据源管理</a>
    <a href="">系统监控</a>
    <a href="">系统配置</a>
    <a href="">数据管理</a>
    <a href="">权限管理</a>
    <a href="">退出登录</a>

</div>

</body>
</html>