<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页</title>
<!--    <link rel ="stylesheet" href="/static/common.css">-->
    <style>
        .c1{
            text-align: center;
            line-height: 59px;
        }
    </style>
</head>
<body>
    <h1 class="c1">用户注册</h1>
    <form method="post" action="/do/reg">
        <div class="c1">
<!--        <select>-->
<!--            <option>管理员</option>-->
<!--            <option>用户</option>-->
<!--        </select>-->
            <input type="radio" name="职务" value="1">用户
            <input type="radio" name="职务" value="2">管理员
        </div>
        <div class="c1">
            用户名:<input type="text" name="u"/>
        </div>
        <div class="c1">
            密码:<input type="password" name="p"/>
        </div>
        <div class="c1">
            <input type="submit" value="提交">
        </div>


    </form>

</body>
</html>